

body {
    background-color: rgb(20,20,30);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: floralwhite;
    font-kerning: 20px;
}

div {
    border: 1px dotted black;
}

#content {
    background-color: rgb(50,50,60);
    width: 50vw;
    position:absolute;
    /* left: 25vw; */
    /* top: 0px; */
    padding: 5px;
    display: flex;
    flex-direction: column;
}

#links {
    display: flex;
    padding: 10px 0;
    width: 100%;
}

#links a{
    /* display: block; */
    background-color: aliceblue;
    width: 100%;
    margin: 5px;
    
}
