

body {
    background-color: rgb(20,20,30);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: floralwhite;
    font-kerning: 20px;
}

div {
    /* border: 1px dotted white; */
}

#top {
    background-color: rgb(30,30,40);
    width: 70vw;
    position:absolute;
    left: 15vw;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

#links {
    display: flex;
    padding: 10px 0;
    width: 100%;
}

#links input{
    display: none;
}

#links label{
    /* display: block; */
    background-color: rgb(70, 70, 90);
    text-decoration: none;
    color: floralwhite;
    width: 100%;
    margin: 4px;
    padding: 2px 0px;
}

#links label:hover{
    background-color: rgb(40,40,60);
}




